<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

    <title>Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="cointaner">
    <div class="message-not-null" th:if="${message != null}">
        <div class="alert alert-success" role="alert" th:text="${message}">Message</div>
    </div>
    <div class="cointaner2">
        <div class="row" th:each="book : ${books}">
            <div class="col-md-5">
                <a th:href="'/'+${book.bookId}">
                    <img class="img-fluid rounded mb-3 mb-md-0 index" th:if="${book.imageUrl != null}" th:src="${book.imageUrl}"/>
                    <img class="img-fluid rounded mb-3 mb-md-0 index" th:if="${book.imageUrl == null}" src="http://via.placeholder.com/220x344"/>
                </a>
            </div>
            <div class="col-md-7">
                <hr/>
                <h6 th:text="'Title: '+${book.title}">Title</h6>
                <h6 th:text="'Author: '+${book.author}">Author</h6>
                <h6 th:text="'ISBN: '+${book.isbn}">Isbn</h6>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>